@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;900&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: #fafafa;
}
::selection {
  background-color: rgba(0,118,255,0.9);
  color: #fff;
}
